header {
    text-align: center;
}
body {
    background: #076585;
    background: -webkit-linear-gradient(to right, #fff, #076585);  
    background: linear-gradient(to right, #fff, #076585);
}
.spaceDiv{
    margin-top: 30px;
    margin-bottom: 30px;
}
.firstDiv{
    margin-top: 30px;
    margin-bottom: 30px;
    margin:auto;
    width:901px;
    height:181px;
    box-shadow: 10px 10px 10px rgb(156, 152, 152);
    border-radius: 20px;   
}
.firstDivSection{
    width:450px;
    height:60px;
    float:left;
}
.fdss{
    text-align: center;
}
div #usual {
    display: inline-block;
    text-align: center;
}
    /**
     * 동그랗게 만들어주는 부분
     */
.container {
    text-align: center;
    margin:auto;
    width: 1100px;
    height: auto;
    box-shadow: 10px 10px 10px rgb(156, 152, 152);
    border-radius: 20px; 
}
 
.pTypeOne{
    margin:auto;
}
p #gitStyle{
margin: left 15%;;
margin: top 5%;
margin-bottom:30px;
}
