/*
프로필 누르기 이전과 누를때 after, hover를 통해 게이지 참.
*/
.reactiveGauge0{
    border:none;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}
.reactiveGauge0:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#decba400;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge0:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:5px;
    height:100%;
    background: #ffd452;  
    
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge0:hover::after{
    transform:scaleY(1);
}

/**
두번째 section
*/
.reactiveGauge1{
    border:none;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}
.reactiveGauge1:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#fffbd5;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge1:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:5px;
    height:100%;
    background: #a7ff7800;  

    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge1:hover::after{
    transform:scaleY(1);
}

/**
c언어 프로젝트
*/
.reactiveGauge2{
    border:none;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}
.reactiveGauge2:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#fffde400;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge2:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:5px;
    height:100%;
    background: #005AA7;  

    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge2:hover::after{
    transform:scaleY(1);
}

/*
calculator
*/

.reactiveGauge3{
    border:none;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}
.reactiveGauge3:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#40e0d000;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge3:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:5px;
    height:100%;
    background: #FF8C00;  

    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge3:hover::after{
    transform:scaleY(1);
}

/**
imageProcessing & mfc
*/


.reactiveGauge4{
    border:none;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}
.reactiveGauge4:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#e9e4f000;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge4:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:5px;
    height:100%;
    background: #fc4a1a;  

    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge4:hover::after{
    transform:scaleY(1);
}

/**
ios movTheater
*/


.reactiveGauge5{
    border:none;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}
.reactiveGauge5:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#f2f2f200;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge5:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:5px;
    height:100%;
    background: #ADA996;  

    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge5:hover::after{
    transform:scaleY(1);
}

/**
animated trs swift
*/
.reactiveGauge6{
    border:none;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}
.reactiveGauge6:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#1a2a6c00;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge6:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:5px;
    height:100%;
    background: #fdbb2d;  

    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}
.reactiveGauge6:hover::after{
    transform:scaleY(1);
}
