/* 목차 스타일 */
.subtitle_list {
    margin-left: 5%;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 15px;
    
    width:fit-content;
    text-align: left;
    box-shadow: 10px 10px 20px #ecb3b4; 
    border-radius: 15px;
}

#subtitle_title
{
    list-style-type: none;

}
#subtitle_title >li
{
    padding-left: 50px;
    background: url("title_list_42.png") left center no-repeat;
    font-weight: bold;
    font-size: 2.2em !important;
    color: #f9787b;
}

#subtitle_list_li 
{
    margin-left: 20px;
    font-size: 1.6em !important;
    list-style-type: none;
    text-decoration: none;
}
/*여기는 이제 소 목록 1,2,3,4,등등 정하는거 홀수.*/
#subtitle_list_li_case1 
{
    background: url("list_case1_30.png") left center no-repeat;
    padding-left: 40px;
    text-indent: 0;
    margin-top: 10px;
    text-decoration: none;
}
#subtitle_list_li_case1>a:link
{
    color: #f9787b;
    text-decoration: none;
}
#subtitle_list_li_case1>a:visited
{
    color: #f9787b;
    text-decoration: none;
}
#subtitle_list_li_case1>a:hover
{

    color: beige;
    text-decoration: none;
}
#subtitle_list_li_case1>a:active
{
    color: #f9787b;
    text-decoration: none;
}
/*여기는 이제 소 목록 1,2,3,4,등등 정하는거 짝수.*/
#subtitle_list_li_case2
{
    background: url("list_case2_30.png") left center no-repeat;
    padding-left: 40px;
    text-indent: 0;
    margin-top: 10px;
    text-decoration: none;
}

#subtitle_list_li_case2>a:link
{
    color: #f9787b;
    text-decoration: none;
}
#subtitle_list_li_case2>a:visited
{
    color: #f9787b;
    text-decoration: none;
}
#subtitle_list_li_case2>a:hover
{

    color: beige;
}
#subtitle_list_li_case2>a:active
{
    color: #f9787b;
    text-decoration: none;
}

.h3Color
{
    color:#f9787b;
    text-decoration: none;
    font-size: 2em;
}

.h3Color::after
{
    text-decoration: none;
}
.h3Color::before
{
    text-decoration: none;
}

a:link{color:#f9787b; background-color: transparent;text-decoration: none;}
a:visited{color:#f9787b; background-color: transparent; text-decoration: none;}
a:hover{color:pink;background-color: transparent;text-decoration: none;}
a:active{color:#f9787b; background-color: transparent; text-decoration: none;}